h1{
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
}

div{
  margin-left: 10%;
  margin-top: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 64px;

}
 #Spiele {
    margin-left: 20px;
    margin-right: 30%;
    height: 200px;
    border: 1px solid black;
}

#Spieler {
  margin-left: 20px;
  margin-right: 30%;
  height: 200px;
  border: 1px solid black;
}

a {
  font-size:20px;
  text-decoration-line: none;
}
body{
  margin: 40px;
}
