body{
  background-color:#373c49;
}
.container{
  max-width:  500px;
  min-width:  280px;
}
.row{
  height:20%;

}
.playerNames{
 height:15%;
}
.left{
  flex-flow: column;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width:45%;

}
.middle{
  float:left;
  height:100%;
  width:10%;
}
.right{
  flex-flow: column;
  float:right;
  height: 100%;
  width:45%;
}
button{
  float:inherit;
    height: 85%;
    border: 2px solid black;
    border-radius:  4px;
}
.miss{
  background-color: red;
  width: 33%;
}
.done{
  vertical-align: top;
  background-color: gold;
  width: 27%;

}
.hit{
  background-color:green;
  width: 33%;

}
